{% extends "base.html" %}


{% block content %}
<style>
    table,
    th,
    td {
        padding-top: 50px;
        border: 0px solid white;
        width: 50%;
        font-family: 'Quicksand', sans-serif;
        color: white;
    }
</style>

<center>
    <table>
        <tr>
            <th colspan="2">
                <center>
                    Business Management Graduate. Currently working as a Python DevOps Trainee. Aspiring Programmer with
                    6 years of experience in multiple languages, such as Python, Java, C#, JSON, and
                    JavaScript to name a few. Working on open-source projects to further his understanding and learning
                    to apply it in the workplace.
                </center>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <center>
                    You can find me here:
                </center>
            </th>
        </tr>
        <tr>
            <th>
                <center>
                    GitHub
                </center>
            </th>
            <th>
                <center>
                    <a href="https://github.com/deviljin112">https://github.com/deviljin112</a>
                </center>
            </th>
        </tr>
        <tr>
            <th>
                <center>
                    LinkedIn
                </center>
            </th>
            <th>
                <center>
                    <a href="https://www.linkedin.com/in/hubert-swic/">https://www.linkedin.com/in/hubert-swic/</a>
                </center>
            </th>
        </tr>
    </table>
</center>
{% endblock %}