{% extends "base.html" %}


{% block content %}

<style>
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    body {
        background-color: #212121;
        color: #fff;
        font-family: 'Quicksand', sans-serif;
    }

    h2 {
        padding-top: 25px;
        border: 0px solid white;
        width: 50%;
        font-size: 23px;
    }

    .form {
        width: 300px;
        padding: 32px 15px 24px;
        margin: 0 auto;
    }

    .form .btn {
        width: 100%;
        display: block;
        padding: 14px 16px;
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: monospace;
        font-size: 16px;
    }


    .block-cube {
        position: relative;
    }

    .block-cube .bg-top {
        position: absolute;
        height: 10px;
        background: #020024;
        background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
    }

    .block-cube .bg-top .bg-inner {
        bottom: 0;
    }

    .block-cube .bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #020024;
        background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
    }

    .block-cube .bg-right {
        position: absolute;
        background: #020024;
        background: #00d4ff;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
    }

    .block-cube .bg-right .bg-inner {
        left: 0;
    }

    .block-cube .bg .bg-inner {
        transition: all 0.2s ease-in-out;
    }

    .block-cube .bg-inner {
        background: #212121;
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }

    .block-cube .text {
        position: relative;
        z-index: 2;
    }

    .block-cube.block-input .bg-top,
    .block-cube.block-input .bg-right,
    .block-cube.block-input .bg {
        background: rgba(255, 255, 255, 0.5);
        transition: background 0.2s ease-in-out;
    }

    .block-cube.block-input .bg-right .bg-inner,
    .block-cube.block-input .bg-top .bg-inner {
        transition: all 0.2s ease-in-out;
    }

    .block-cube.block-input:focus .bg-top,
    .block-cube.block-input:focus .bg-right,
    .block-cube.block-input:focus .bg,
    .block-cube.block-input:hover .bg-top,
    .block-cube.block-input:hover .bg-right,
    .block-cube.block-input:hover .bg {
        background: rgba(255, 255, 255, 0.8);
    }

    .block-cube.block-cube-hover:focus .bg .bg-inner,
    .block-cube.block-cube-hover:hover .bg .bg-inner {
        top: 100%;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: 'Quicksand', sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #003f88;
        color: #ffffff;
        text-align: left;
    }

    .styled-table tbody td {
        text-align: center;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        color: white;
    }

    .styled-table tbody tr:nth-of-type(odd) {
        background-color: #3d3d3d;
        color: white;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
        color: black;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #d10000;
    }
</style>

<center>
    <h2>
        Display the Top 30 Jobs from ItJobsWatch
    </h2>

    <form class="form" action="" method="POST">
        <button class='btn block-cube block-cube-hover' type='submit' value="pull" name="pull">
            <div class='bg-top'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg-right'>
                <div class='bg-inner'></div>
            </div>
            <div class='bg'>
                <div class='bg-inner'></div>
            </div>
            <div class='text'>
                Pull Data
            </div>
        </button>
    </form>
</center>

<center>
    <table class="styled-table">
        <thead>
            <tr>
                {% for title in heading %}

                <th>{{ title }}</th>

                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for field in page %}

            <tr>
                <td style="text-align: left;">{{ field[0] }}</td>
                <td>{{ field[1] }}</td>
                <td>{{ field[2] }}</td>
                <td>{{ field[3] }}</td>
                <td>{{ field[4] }}</td>
                <td>{{ field[5] }}</td>
                <td>{{ field[6] }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</center>

{% endblock %}